@font-face {
	font-family: "ProximaNova";
	src: url('ProximaNova-Light.otf') format("opentype");
}
@font-face {
	font-family: "ProximaNova";
	src: url('ProximaNova-Bold.otf') format("opentype");
	font-weight: bold
}

body, html{
	font-family: ProximaNova, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height:100%;
}

.indent {
	padding-left: 2em;
}

@media screen and (max-width: 570px) {
	.jumbotron h1 {
		font-size: 45px;
	}

	#header-break-line {
		display: block;
	}

	.contact-row h2 {
		font-size: 27px;
	}

	.contact-row a {
		font-size: 19px;
	}
}

@media screen and (min-width: 570px) {
	.jumbotron h1 {
		font-size: 50px;
	}

	#header-break-line {
		display: block;
	}

}

@media screen and (min-width: 705px) {
	.jumbotron h1 {
		font-size: 65.5px;
	}

	#header-break-line {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	#new-line {
		display: block !important;
		font-size: 5px;
	}
	#school-name {
		padding-left: 20px;
	}
	.school {
		font-size: 22px;
	}
}

.logo {
	max-height: 135px;
	margin-bottom: 30px;
}

/*.navbar {
	position: absolute;
		top: 0;
	width: 100%;
}*/
/*
.explanation {
	font-size: 5px;
}*/

.explanation-text {
	font-size: 18px;
	line-height: 1.7em;
}

.section-icon {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.section-icon img {
	vertical-align: middle;
	width: 100%;
	max-width: 233px;
	/*margin-top: auto;*/
	/*margin-bottom: auto;*/
}

.aboutme, .projects, .experience, .contact, .education {
	width: 100%;
	min-height: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

.black-navbar {
	background-color: rgb(8, 8, 8);
	border-bottom: none;
}

.black-navbar-active {
	/*background-color: rgba(255, 255, 255, 0.5);*/
	background-color: #0059b3;
}

.aboutme {
	/*background-color: red;*/
	/*background-color: #3498db;*/
	background-image: url(cal2.jpg);
	background-size: cover;

}

.projects {
	/*background-color: green;*/
	/*background-color: #f1c40f;*/
	background-color: #3498db;
}

.education {
	/*background-color: #00EDED;*/
	/*background-color: #f1c40f;*/
	background-color: #2ecc71;
}

.experience {
	/*background-color: #2E2EFF;*/
	background-color: #e74c3c
}

.contact {
	/*background-color: purple;*/
	background-color: #9b59b6;
}

/* Flaired edges, by Tomas Theunissen */
		
hr.projectshr {
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}
hr.projectshr:before { /* Not really supposed to work, but does */
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;    
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

/* Gradient transparent - color - transparent */

hr.abouthr {
    border: 0;
    height: 1px;
    background: #e74c3c;
    background-image: -webkit-linear-gradient(left, #ccc, #e74c3c, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #e74c3c, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #e74c3c, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #e74c3c, #ccc); 
}		

hr.experiencehr {
    border: 0;
    height: 1px;
    background: #3498db;
    background-image: -webkit-linear-gradient(left, #ccc, #3498db, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #3498db, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #3498db, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #3498db, #ccc); 
}

hr.projects-divider-hr {
    border: 0;
    height: 1px;
    background: #f1c40f;
    background-image: -webkit-linear-gradient(left, #ccc, #f1c40f, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #f1c40f, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #f1c40f, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #f1c40f, #ccc); 
}

hr.educationhr {
    border: 0;
    height: 1px;
    background: #2ecc71;
    background-image: -webkit-linear-gradient(left, #ccc, #2ecc71, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #2ecc71, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #2ecc71, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #2ecc71, #ccc); 
}

.cenetered {
	text-align: center;
}

.list-i-use ul li {
	font-size: 13pt;
}

.intro-text {
	font-size: 14pt;
}

.education-text {
	font-size: 19px;
}

blockquote {
	margin-top: 30px;
	margin-bottom: 30px;
}

.technologies-used {
	color: gray;
	font-size: 120%;
}

.tech {
	font-size: 80%;
}

.logo {
	max-width: 90%;
}